@model SD6503_DHLPROJECT.Models.AccountDetail

@{
    ViewData["Title"] = "AddBalance";
}

<h1>AddBalance</h1>
<h3>How much would you like to add:</h3>
@using (Html.BeginForm("AddBalance", "Home", FormMethod.Post))
{
    @Html.TextBox("balance")
    <input type="submit" value="submit" />

}
<label>(Range: 0 - 99999)</label>
<h6 class="text-primary"> @ViewBag.addAmountMessage</h6>
