
@{
    ViewData["Title"] = "NewUser";
}

<h1>Welcome</h1>
<h3>Please enter your name:</h3>
@using (Html.BeginForm("NewUser", "Home", FormMethod.Post))
{
    @Html.TextBox("name")


    <input type="submit" value="submit" />
}

<h6 class="text-primary"> @ViewBag.lendAmountMessage</h6>
