@model SD6503_DHLPROJECT.Models.TransactionTable

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TransactionTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToAccount" class="control-label"></label>
                <input asp-for="ToAccount" class="form-control" />
                <span asp-validation-for="ToAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromAccount" class="control-label"></label>
                <select asp-for="FromAccount" class ="form-control" asp-items="ViewBag.FromAccount"></select>
            </div>
            <div class="form-group">
                <label asp-for="LendAmount" class="control-label"></label>
                <input asp-for="LendAmount" class="form-control" />
                <span asp-validation-for="LendAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaybackAmount" class="control-label"></label>
                <input asp-for="PaybackAmount" class="form-control" />
                <span asp-validation-for="PaybackAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
